
 <head>
 
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
</head>
<div class="container">
		
	  <div class="col-md-7 col-md-offset-1">

				<%= form_for(@user) do |f| %>

					<div class="form-group">
						<div class="col-md-4">
							<%= f.label :first_name  %>
						</div>
						<div class="col-md-8">
							<%= f.text_field :first_name, :class => "form-control" %>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<%= f.label :last_name %>
						</div>
						<div class="col-md-8">
							<%= f.text_field :last_name, :class => "form-control" %>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<%= f.label :date_of_birth %>
						</div>
						<div class="col-md-8">
							<input type="text" name="user[date_of_birth]" value="11/27/1987" id="datepicker"/> <i class="fa fa-calendar"></i>
						</div>
					</div>


					<div class="form-group">
						<div class="col-md-4">
						  <%= f.label :gender %>
						</div>
						<div class="col-md-8">
							<p><input type="radio" id="user_gender_male" name="user[gender]" value="male" checked="checked" />Male</p>
						    <p><input type="radio" id="user_gender_female" name="user[gender]" value="female" />Female</p>
						</div>
					</div>


					<div class="form-group">
						<div class="col-md-4">
							<%= f.label :state %>
						</div>
						<div class="col-md-8">
							<%= f.text_field :state, :class => "form-control" %>
						</div>
					</div><br>

					<div class="form-group">
						<div class="col-md-4">
							<%= f.label :country %>
						</div>
						<div class="col-md-8">
							<%= f.country_select :country, :class => "form-control" , selected: "MY"%>
						</div>
					</div>



					<div class="form-group">
						<div class="col-md-4">
							<%= f.label :phone_no %>
						</div>
						<div class="col-md-8">
							<%= f.text_field :phone_no, :class => "form-control" %>
						</div>
					</div>

					

					<div class="form-group">
						<div class="col-md-8 col-md-offset-4">
							<%= f.submit "Save", class: "btn btn-primary" %>
						</div>
					</div>
					<% end %>
					
	  </div>
  </div>


