

<div class="container">
		
	  <div class="col-md-5 col-md-offset-1">

			

				<%= form_for(@user) do |f| %>
					<div class="form-group">
						<div class="col-md-4">
							<%= f.label :first_name %>
						</div>
						<div class="col-md-8">
							<%= @user.first_name %>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<%= f.label :last_name %>
						</div>
						<div class="col-md-8">
							<%= @user.last_name %>
						</div>
					</div>

					

					<div class="form-group">
						<div class="col-md-4">
							<%= f.label :date_of_birth %>
						</div>
						<div class="col-md-8">
						    <%= @user.date_of_birth %>
						</div>
					</div>


					<div class="form-group">
						<div class="col-md-4">
						  <%= f.label :gender %>
						</div>
						<div class="col-md-8">
							<%= @user.gender %>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<%= f.label :state %>
						</div>
						<div class="col-md-8">
							<%= @user.state %>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<%= f.label :country %>
						</div>
						<div class="col-md-8">
							<%= @user.country %>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<%= f.label :phone_no %>
						</div>
						<div class="col-md-8">
							<%= @user.phone_no %>
						</div>
					</div>

				<% end %>	
				
	  </div>
  </div>