<head>
<style>
.profile_photo{
  height:5vmin;
}


.profile_detail{
  margin-left: 10vmin;
}

/*.profile_detail h3{
  font-size: 5vmin;
}*/

.social-share-button{
  display:inline;
}
</style>
</head>

<div class="container">
  <hr>
  <!-- <div class="profile_photo"> -->
      
    <div class="profile_detail">
      <h3 ><%= @designer.display_name %></h3>
     
      <button type="button" class="btn btn-default btn-sm" id="myAlbumBtn" style="display:inline;">
      Designer's Details
      </button>
  
    <div class="dropdown" style="display:inline;">
      <button type="button" title="Share" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" >
      Share Profile</button>
        <ul class="dropdown-menu text-center">
          <li class="text-center"><%= social_share_button_tag(@designer.display_name, :popup => "true" ) %></li>
        </ul>
    </div>

       


    </div>  
<!--   </div> -->
  <hr>
<% @albums.each do |album| %>
<div class="col-xs-6 col-sm-4 col-md-2" id="album_<%= album.id %>" style="padding:1vmin; margin-bottom: 5vmin">
  <div class="album-title text-center">
    <div class="text-center">

    <% if album.photos.exists? %>
       <%= link_to(image_tag(album.photos.first.image_url(:thumb)),album_path(album.id), :"title" => album.title, :class => "img-responsive" ) %>
    <% else %>

    <% end %>

  </div>
  </div>
</div>
<% end %>
<div class="modal fade" id="myAlbumModal" role="dialog" >
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header" style="padding:15px 20px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 style="text-align:center"> Designer's Profile</h3>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <div class="col-md-3 col-md-offset-1"><strong>Name</strong></div>
            <div class="col-md-8"><%= @designer.display_name %></div>
          </div>
    
          <div class="form-group">
            <div class="col-md-3 col-md-offset-1"><strong>Name</strong></div>
            <div class="col-md-8"><%= @designer.display_name %></div>
          </div>
        
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>

      </div>

    </div>
  </div> 

</div>


<script>
$(document).ready(function(){
    $("#myAlbumBtn").click(function(){
        $("#myAlbumModal").modal();
    });
});
</script>

