<head>
<style>
.profile_photo{
  height:5vmin;
}


.profile_detail{
  margin-left: 10vmin;
}

/*.profile_detail h3{
  font-size: 5vmin;
}*/

.social-share-button{
  display:inline;
}
</style>
</head>

<div class="container">
  <hr>
  <!-- <div class="profile_photo"> -->
      
    <div class="profile_detail">
      <h3 ><%= @designer.display_name %></h3>
     
      <button type="button" class="btn btn-default btn-sm" id="myAlbumBtn" style="display:inline;">
      Designer's Details
      </button>
  
    <div class="dropdown" style="display:inline;">
      <button type="button" title="Share" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" >
      Share Profile</button>
        <ul class="dropdown-menu text-center">
          <li class="text-center"><%= social_share_button_tag(@designer.display_name, :popup => "true" ) %></li>
        </ul>
    </div>

       


    </div>  
<!--   </div> -->
  <hr>

  <div class="row" id="container_photos">
    <div class="col-md-12">
      <%= render 'profile_album' %>
    </div>
  </div>
 
    

<div class="modal fade" id="myAlbumModal" role="dialog" >
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header" style="padding:15px 20px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 style="text-align:center"> Designer's Profile</h3>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <div class="col-md-3 col-md-offset-1"><strong>Name</strong></div>
            <div class="col-md-8"><%= @designer.display_name %></div>
          </div>

          <div class="form-group">
            <div class="col-md-3 col-md-offset-1"><strong>Email</strong></div>
            <div class="col-md-8"><%= @designer.display_email %></div>
          </div>

          <div class="form-group">
            <div class="col-md-3 col-md-offset-1"><strong>Contact</strong></div>
            <div class="col-md-8"><%= @designer.display_contact %></div>
          </div>

          <div class="form-group">
            <div class="col-md-3 col-md-offset-1"><strong>Company Name</strong></div>
            <div class="col-md-8"><%= @designer.company_name %></div>
          </div>


          <div class="form-group">
            <div class="col-md-3 col-md-offset-1"><strong>Address</strong></div>
            <div class="col-md-8"><%= @designer.address %></div>
          </div>

          <div class="form-group">
            <div class="col-md-3 col-md-offset-1"><strong>State</strong></div>
            <div class="col-md-8"><%= @designer.state %></div>
          </div>

          <div class="form-group">
            <div class="col-md-3 col-md-offset-1"><strong>Country</strong></div>
            <div class="col-md-8"><%= @designer.country %></div>
          </div>
        
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>

      </div>

    </div>
  </div> 

</div>


<script>
$(document).ready(function(){
    $("#myAlbumBtn").click(function(){
        $("#myAlbumModal").modal();
    });
});
</script>

