<head>
  <style type="text/css">
  .image-guideline{
    padding-left: 5vmin;
    margin-top: 5vmin;
  }

  .image-guideline p{
    line-height: 3px;
    font-size: 15px;
   }
  </style>
</head>
<div class="container">
 <hr>
<h3 class="text-center">Project Album</h3>

<hr>

  <div class="row">
    <div class="text-center">
      <button type="button" class="btn btn-default btn-sm pull-right" id="myAlbumBtn" >
      New Album
      </button>
    </div>

 <br>

<div class="row" id="container_albums">
  <%= render @albums %>
</div>



<%= form_for(@album) do |f| %>
<!-- Modal -->
  <div class="modal fade" id="myAlbumModal" role="dialog" >
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header" style="padding:15px 20px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 style="text-align:center"> New Album</h3>
        </div>

        <div class="modal-body">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control album_title" %>
          <div class="image-guideline">
            <p>Please upload images with the guidelines below </p>
            <p><small><i class="fa fa-circle"></i>   Good quality images(max 2MB)</small></p>
            <p><small><i class="fa fa-circle"></i>   File type jpg / jpeg / gif / png only</small></p>
            <p><small><i class="fa fa-circle"></i>   Photo with no watermark or only small watermark</small></p>
            <p><small><i class="fa fa-circle"></i>   Photo that do not meet the guideline will be removed</small></p>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
          <%= submit_tag "Create", class: "btn btn-primary btn-sm"%>

        </div>

      </div>

    </div>
  </div> 
<% end %>
 
</div>

<script>
$(document).ready(function(){
    $("#myAlbumBtn").click(function(){
        $("#myAlbumModal").modal();
    });
});
</script>