<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<%= favicon_link_tag 'favicon.ico' %>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="<%= asset_url 'font-awesome/css/font-awesome.min.css' %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.0/css/swiper.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.0/css/swiper.min.css">
 
 

<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>

    <!-- Swiper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.0/js/swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.0/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.0/js/swiper.jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.0/js/swiper.jquery.min.js"></script>

 <!-- blueimpgallery -->
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">

<style>
.social-btn {
position: fixed;
left: 5vmin;
  }

.modal-content{
  background-color: rgba(255, 255, 255, 0.8);
}

.user_type{
  width: 85%;
  padding: 5px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  background-color: #F7F7F7;
}
.menu-img .open>.dropdown-menu {
  display: block;
  position: absolute;
  left: -195px;
  width: 240px;
}

.sign-up-modal a:link, .sign-up-modal a:visited {
  display: block;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(128,128,128,0.6);
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2vmin;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0px;
}


</style>

</head>

  <body>
      
  
   
      <div class="logo-img">
        <%= link_to image_tag("logo.png"), root_path %>
      </div>
      
      <div class="menu-img"> 
      <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><i class="fa fa-bars fa-lg"></i>
      </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation" class="dropdown-header text-center" style="font-size:25px;">INSPAZE</li>
          <li role="presentation"><%= link_to "Home", root_path %></li>
          <li role="presentation"><%= link_to "Gallery", designs_path %></li>
          <li role="presentation"><%= link_to "Products", products_path %></li>
          <li role="presentation"><%= link_to "Contact Us", new_contact_path %></li>
          <li role="presentation" class="divider"></li>
          <% if user_signed_in? %>
            <li role="presentation"><%= link_to "Profile", user_path(current_user) %></li>
            <li role="presentation"><%= link_to "My Ideabook", ideabook_user_path(current_user) %></li>
            <li role="presentation"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %><li>
          <% elsif designer_signed_in? %>
            <li role="presentation"><%= link_to "Profile", designer_path(current_designer) %></li>
            <li role="presentation"><%= link_to "Project Gallery", albums_path(current_designer) %></li>
            <li role="presentation"><%= link_to "Sign Out", destroy_designer_session_path, :method => :delete %><li>
          <% else %>
            <li role="presentation"><a href="#" id="myBtn">Sign Up</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="text-center">Log In</li>
            <li role="presentation">
              <div class="row text-center">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <%= link_to "User", new_user_session_path ,:class => "btn btn-default btn-xs", :style =>"border: 2px solid #C1BEBE; width: 95px;margin-right: -20px; color:rgba(0,0,0,0.8)" %>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <%= link_to "Designer", new_designer_session_path ,:class => "btn btn-default btn-xs", :style =>"border: 2px solid #C1BEBE; width: 95px; margin-right: 20px; color:rgba(0,0,0,0.8)"%>
                </div>
              </div>
            </li>
            
          <% end %>
          <br>
        </ul>
      </div>

 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header" style="padding:15px 20px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="text-align:center"> Welcome to INSPAZE</h2>
          <h4 style="text-align:center">Which describe you better</h4>
        </div>
        <div class="modal-body text-center sign-up-modal"> 
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <%= link_to "I need interior design ideas", new_user_registration_path %>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <%= link_to "I'm Interior Designer", new_designer_registration_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 

    

<p id="notice" style="position:absolute;z-index:1000;"><%= notice %></p>
    <%= yield %>
<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>

  </body>
</html>

